@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --vp-font-family-base:
    "Poppins", "Roboto", "Public Sans", "sans-serif", "Arial", system-ui,
    sans-serif;
  --vp-font-family-mono: "Geist Mono", "Menlo", "Courier", monospace;
}

:root {
  /* Brand (PRIMARY) */
  --vp-c-brand-1: #3248ff;
  --vp-c-brand-2: #000c6e;
  --vp-c-brand-3: #3248ff;

  /* Text */
  --vp-c-text-1: #262626; /* WHITE[800] */
  --vp-c-text-2: #525252; /* WHITE[600] */
  --vp-c-text-3: #737373; /* WHITE[500] */

  /* Background */
  --vp-c-bg: #ffffff;
  --vp-c-bg-soft: #ffffff;
  --vp-c-bg-mute: #fafafa; /* WHITE[50] */

  /* Borders / Divider */
  --vp-c-divider: rgba(82, 82, 82, 0.24); /* alpha(WHITE[600], 0.24) */
  --vp-c-border: #e5e5e5;

  /* Status colors */
  --vp-c-success-1: #54d62c;
  --vp-c-success-2: #aaf27f;

  --vp-c-warning-1: #ffc107;
  --vp-c-warning-2: #ffe16a;

  --vp-c-danger-1: #ff4842;
  --vp-c-danger-2: #ffa48d;

  --vp-c-info-1: #1890ff;
  --vp-c-info-2: #74caff;
}

.dark {
  /* Brand */
  --vp-c-brand-1: #3248ff;
  --vp-c-brand-2: #95a1fe;
  --vp-c-brand-3: #3248ff;

  /* Text */
  --vp-c-text-1: #d9d9d9; /* BLACK[100] */
  --vp-c-text-2: #8c8c8c; /* BLACK[300] */
  --vp-c-text-3: #666666; /* BLACK[400] */

  /* Background */
  --vp-c-bg: #0d0d0d; /* BLACK[900] */
  --vp-c-bg-soft: #121212; /* BLACK[800] */
  --vp-c-bg-mute: #1a1a1a; /* BLACK[700] */

  /* Borders */
  --vp-c-divider: rgba(217, 217, 217, 0.24); /* alpha(BLACK[100], 0.24) */
  --vp-c-border: #262626;

  /* Status */
  --vp-c-success-1: #54d62c;
  --vp-c-warning-1: #ffc107;
  --vp-c-danger-1: #ff4842;
  --vp-c-info-1: #1890ff;
}

/* Make logo round */
.VPNavBarTitle img,
.VPHero img {
  border-radius: 50%;
}

code,
pre {
  font-feature-settings: "liga" 0;
}